* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

}

.caixa-mae {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding: 100px;

}

    button {
        color: white;
        background-color: rgb(192, 22, 22);
        border-radius: 3px;
        border: none;
        width: 200px;
        height: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
    }

    button:hover {
        color: black;
        transition: 1s ease-in-out;
    }


    .logo-mario {
        height: 200px;
    }

    .Mario-e-luigi{
        height: 500px;
    }

    .caixa-principal{
        width: 50%;
    }

        
    .caixa-video {
        position: fixed;
        z-index: -1;  
        top: 0;
    }

    video {
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        top: 0;
    }

    .mascara {
        height: 100%;
        width: 100%;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        position: fixed;
        top: 0;

    }

     .titulo {
        color: white;
        margin-bottom: 20px;
     }

    .texto{
        color: white;
        margin-bottom: 20px;
    }

    .icone-whatsapp {
        height: 50px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        

    }

    .logo-mario {
        height: 50px;
        left: 20px;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 30px;
    }

    .header a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-size: 24px;
    }

    .header a:hover {
        color: red;
        transition: 1s color ease-in-out;
    }

    .formulário-orçamento {
        background-color: white;
        display: flex;
        gap: 20px;
        flex-direction: column;
        position: fixed;
        top: 30%;
        left: -300px;
        padding: 20px;
        border-radius: 5px;
        transition: left 1s ease-in-out;

    }

    input {
        height: 40px;
        border-radius: 5px;
        border: 1px solid gray;
        padding-left: 5px;
        outline-color: #18d80f;
    }

    textarea {
        width: 270px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid gray;
        padding-left: 5px;
        outline-color: #18d80f;
    }

    .mascara-formulario {
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%); 
        transition: visibility 1s ease-in-out;
    }


    @media(max-width: 1100px) {
        p {
            display: none;
        }

        .caixa-mae {
            flex-direction: column;
            /* justify-content: flex-start; */
            padding: 10px;
        }

        .caixa-principal {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .Mario-e-luigi {
            width: 80vw;
            height: auto;
        }

        .header {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .logo-mario {
        display: none;
    }

    .header a {
        font-size: 20px;

    }





    }
